{%extends 'core/base.html'%}
{%block title%}{{ product.title }} | {%endblock%}

 {%block content%}
    {% if product.image %}
    <div class="img_prod container col-12 ">

        <figure class=" col-12" >
                <img class="col-12" src="{{ product.image.url }}">
        </figure>

    </div>
    {% endif %}

    <h1 class="title">{{ product.title }}, ${{ product.price }}</h1>
    <div class="mb-4"></div>
    <p style="color:black;"><span>Vendor: {{ product.vendor.name }}</span></p>
    <p style="color:black;"><span>Shop Physical Address: {{ product.vendor.vendorprofile.address}}</span></p>

    <p style="color:black;">Item Description: {{ product.description }}</p>
    <div class="mb-4"></div>

    <hr>


    {% if messages %}
        {% for message in messages %}
            <div class=" alert alert-primary is-toast" role="alert">{{ message }}</div>
        {% endfor %}

    {%endif%}
    <form method="post" action=".">
        {% csrf_token %}
        <div class="d-flex">
            <input type="number" name="quantity" value="1" class="input" min="1" id="qhide">
        </div>
        <div class="mt-2">
            {% if request.user.is_authenticated != True %}
            <button class="btn btn-success">Add to Cart</button>
            {% endif %}
            {% if request.user.is_authenticated == True %}
                {% if request.user.username != product.vendor.name %}
                 <button class="btn btn-success">Add to Cart</button>
                {%endif%}
                {% if request.user.username == product.vendor.name %}
                    <p style="color:green;">You own this product, you cannot add it to cart</p>
                {%endif%}
            {% endif %}


        </div>
    </form>
<button class="btn btn-dark mt-4" onclick="getLocation()"> Get / Refresh Directions</button>

<p class="m-4" style="color:green; font-style:italic;" id="demo"></p>
<div class="container-fluid row mt-4 mb-4">
<div id="myMap" class="col-12 row" ></div>
<div id="printoutPanel" class="col-12 row "></div>
</div>
<hr>
<div class="shadow col-12 pb-5 mb-5 row">
    {% if similar_products %}
    <hr>

        <div class="col-12">
            <h2 class="pt-4" style="color:white;">Similar Products</h2>
        </div>

        {% for product in similar_products %}
        <div class="col-6 col-sm-6 col-md-4 col-lg-3" >
            {% include 'product/parts/list_item.html' %}
        </div>
        {% endfor %}

    {% endif %}
</div>


<script>
    var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        x.innerHTML="Map loading from Bing, please wait (Retry if it takes more than a while)";
        var lat  = position.coords.latitude;
        var long = position.coords.longitude;

        var latDest=  {{product.vendor.vendorprofile.latitude}};
        var longDest= {{product.vendor.vendorprofile.longitude}}
        transfer(lat,long,latDest,longDest);
    }


    function transfer(lat,long,latDest,longDest) {


        var map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'AjGsza8NB2YlYtJxm134DKtF90wtDwjxIOnOPApDdCmsY9Ot9QRoRXskTNseqa3y',
            center: new Microsoft.Maps.Location(lat, long),
            zoom: 12,
        });
        Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
            var directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);
            // Set Route Mode to driving
            directionsManager.setRequestOptions({ routeMode: Microsoft.Maps.Directions.RouteMode.driving });
            var waypoint1 = new Microsoft.Maps.Directions.Waypoint({ address: 'You are here', location: new Microsoft.Maps.Location(lat, long) });
            var waypoint2 = new Microsoft.Maps.Directions.Waypoint({ address: '{{product.vendor.vendorprofile.title}}', location: new Microsoft.Maps.Location(latDest, longDest) });
            directionsManager.addWaypoint(waypoint1);
            directionsManager.addWaypoint(waypoint2);
            // Set the element in which the itinerary will be rendered
            directionsManager.setRenderOptions({ itineraryContainer: document.getElementById('printoutPanel') });
            directionsManager.calculateDirections();
        });
    }

</script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
<style>
    #qhide{
    display:none;
    }
    .img_prod img{
    width:400px;
    }
    #myMap{
    position:relative;
    width:100%;
    height:400px;
    }
    body p{
    color:black;
    }
    .shadow p{
    color:white;
    }
    .turnoff{
        display:none;
        }
    @media only screen and (max-width:400px){
    .img_prod img{
    width:100%;
    }
    #myMap{
    position:relative;
    width:600px;
    height:400px;
    }
    }

</style>

 {% endblock %}