{%extends 'core/base.html'%}
{%block title%}{{ product.title }} | {%endblock%}

 {%block content%}
    {% if product.image %}

        <figure class="">
                <img src="{{ product.image.url }}">
        </figure>

    {% endif %}

    <h1 class="title">{{ product.title }}, ${{ product.price }}</h1>

    <p><span>{{ product.vendor.name }}</span></p>

    <p>{{ product.description }}</p>

    <hr>


    {% if messages %}
        {% for message in messages %}
            <div class=" alert alert-primary is-toast" role="alert">{{ message }}</div>
        {% endfor %}

    {%endif%}
    <form method="post" action=".">
        {% csrf_token %}
        <div>
            <input type="number" name="quantity" value="1" class="input" min="1">
        </div>
        <div>
            <button class="btn btn-primary">Add to Cart</button>
        </div>
    </form>
<button onclick="getLocation()"> Get / Refresh Directions</button>

<p id="demo"></p>

<div id="myMap" style="position:relative;width:600px;height:400px;"></div>
<div id="printoutPanel"></div>
<hr>

    {% if similar_products %}
    <hr>

    <div>
        <div class="col-12">
            <h2>Similar Products</h2>
        </div>

        {% for product in similar_products %}
            {% include 'product/parts/list_item.html' %}
        {% endfor %}
    </div>
    {% endif %}


<script>
    var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        x.innerHTML="Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude +
            "<br>DestiLat: "+ {{product.vendor.vendorprofile.latitude}} +
            "<br>DestiLong: " + {{product.vendor.vendorprofile.longitude}};
        var lat  = position.coords.latitude;
        var long = position.coords.longitude;

        var latDest=  {{product.vendor.vendorprofile.latitude}};
        var longDest= {{product.vendor.vendorprofile.longitude}}
        transfer(lat,long,latDest,longDest);
    }


    function transfer(lat,long,latDest,longDest) {


        var map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'AjGsza8NB2YlYtJxm134DKtF90wtDwjxIOnOPApDdCmsY9Ot9QRoRXskTNseqa3y',
            center: new Microsoft.Maps.Location(lat, long),
            zoom: 12,
        });
        Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
            var directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);
            // Set Route Mode to driving
            directionsManager.setRequestOptions({ routeMode: Microsoft.Maps.Directions.RouteMode.driving });
            var waypoint1 = new Microsoft.Maps.Directions.Waypoint({ address: 'You are here', location: new Microsoft.Maps.Location(lat, long) });
            var waypoint2 = new Microsoft.Maps.Directions.Waypoint({ address: '{{product.vendor.vendorprofile.title}}', location: new Microsoft.Maps.Location(latDest, longDest) });
            directionsManager.addWaypoint(waypoint1);
            directionsManager.addWaypoint(waypoint2);
            // Set the element in which the itinerary will be rendered
            directionsManager.setRenderOptions({ itineraryContainer: document.getElementById('printoutPanel') });
            directionsManager.calculateDirections();
        });
    }

</script>
<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>


 {% endblock %}