{%extends 'core/base.html'%}
{%block title%}Contact | {%endblock%}
 {%block content%}
<div class="container shadow p-4">
 <h1 class="big mb-5" style="color:white">About Us</h1>

            <p class="mt-3" style="font-weight:bold;" >Exceptional customer service throughout Zimbabwe</p>
    <ul>
    <li><p>We currently handle over 300 transactions per day to meet the needs of the ever changing automotive aftermarket spare parts Industry.</p></li>
        <li><p>We are a well known brand that is associated with quality products. We strive to ensure that our vendors provide spares that are of superior quality.</p></li>
        <li><p>We specialise in suspension components, service kits and body parts, car batteries, accessories and every other motor spare part you might think of</p></li>
        <li><p>We invest a lot in research and development to ensure supply of correct spare parts and services</p></li>
    </ul>

     <p class="mt-3" style="font-weight:bold;" >Our Vision is to limit fraud, reduce time it takes to buy parts, and let transactions take place at affordable prices.</p>
     <p class="mt-5" style="font-weight:bold;" >Our Team Values</p>
     <ul>
        <li><p>Honesty</p></li>
         <li><p>Intergrity</p></li>
         <li><p>Commitment</p></li>
         <li><p>Ownership</p></li>
         <li><p>Fairness</p></li>
         <li><p>Discipline</p></li>
         <li><p>Teamwork</p></li>
    </ul>
</div>
<style>
         .turnoff{
        display:none;
        }
        .big{
        text-align:center;
        }
        li{
        color:white;
        }
</style>

 {%endblock%}

