{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title%}{%endblock%}Kaguvi Motor Spares Version 2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="fontawesome-free-5.13.1-web\css\all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/toast.css' %}">
</head>
<body>
<header>
     <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top p-5 pt-3 pb-3">
        <div class="container-fluid">
            <a class="navbar-brand"  href="{%url 'frontpage'%}"><img style="height:50px; width:50px;" src="{% static  'images/logo.png' %}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!navigation-->
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{%url 'frontpage'%}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'contact'%}">Contact</a> <!---name of view is used in url addressing "contact"--->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'cart' %}">CART{% if cart %} ({{cart|length}}){%endif%}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="d-flex m-4 p-4" style="background:#3E3C3C">
        {% for category in menu_categories %}
                    <li class="">
                    <a href="{% url 'category' category.slug %}" style="color:#E1E1E1; font-family: Century Gothic;">{{category.title}}</a>
                    </li>
        {% endfor %}
    </div>

    <form method="get" action="{% url 'search' %}" class="m-4 " style="width:300px;">
       <div class="input-group">
              <input type="text" class="form-control rounded"  placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="query"/>
              <button class="btn btn-outline-dark btn-dark " style="color:gray"  >search</button>
        </div>
    </form>

</header>
 <section class="section">
     <div class="container">
         {%block content%}
         {%endblock%}
     </div>
 </section>
</body>
<footer>
    <div class="container">
        <h3 class="mb-4"> Kaguvi Motor Spares</h3>

        {%if request.user.is_authenticated%}
            <a href="{%url 'vendor_admin'%}" class="huchi">Vendor Admin</a>
        {% else %}
            <a href="{%url 'become_vendor'%}" class="huchi">Become Vendor</a>
        {% endif %}

        <a href= "{%url 'become_customer'%}">Become a customer</a>
        <a href= "{%url 'vendors'%}">Vendors</a><br>
        <a href="{% url 'customer_login' %}">Customer Log In</a><br>
        <a href="{% url 'login' %}">Vendor Log In</a><br>
        <h4>Ndakapenfa</h4>
        {{request.user.customer.username}}<br>
        {{request.user.customer.car}}<br>
        {{request.user.customer.model}}<br>
        {{request.user.customer.engine}}<br>

        {% if request.user.customer.username != "" %}
        <button><a href="{%url 'your_car'%}">Edit My Customer Profile</a></button>
        {% endif %}

    </div>
</footer>
{%block scripts%}
{%endblock%}
</html>