{%extends 'core/base.html'%}
{%block title%}Contact | {%endblock%}
 {%block content%}
<div class="container shadow p-4">
 <h1 class="big mb-5" style="color:white">Contact Information</h1>

            <p style=" font-weight:bold;" class="mt-3" >For Enquiries contact Adminstrator Prince Marecha with Information below </p>
            <div class="m-5"></div>
            <p >Email:( princemarecha@gmail.com )</p>
            <p >Phone Number: (+263) 718298748</p>
            <p  class="m-0 p-0">Physical Address: 2nd Floor Mambara Building, Harare CBD</p>

</div>
<style>
         .turnoff{
        display:none;
        }
        .big{
        text-align:center;
        }
</style>

 {%endblock%}

