{%extends 'core/base.html'%}
{%block title%}Welcome | {%endblock%}

 {%block content%}
<div class="container" style="background:#F2F2F2">
<h3 class=" mt-5 pt-5 pl-2" style="color:#03D94A; font-weight:bold;">Newest Products</h3>
<div class="col-12 d-flex container">

    <br>
    <br>

    {% for product in newest_product %}
        <div class="col-3">
                {% include 'product/parts/list_item.html' %}
        </div>
    {%endfor%}
    </div>
    </div>

<div class="container" style="background:#F2F2F2">
    <h3  id="Reco_banner"  class=" mt-5 pt-5 pl-2" style="color:#03D94A; font-weight:bold;">Recommendations For You</h3>
    <script>
        if ('{{request.user.is_anonymous}}' == 'True')
            {
                document.getElementById("Reco_banner").innerHTML = "Sign Up to Get Recommendations";
            }
    </script>
<div class="container">
    {% for product in recommended %}
    <div class="col-3">
                {% include 'product/parts/list_item.html' %}
        </div>
    {%endfor%}
</div>
</div>
<p id="demo"></p>
<script type='text/javascript'>

        function GetMap() {
            var map = new Microsoft.Maps.Map('#myMap', {
                credentials: 'AjGsza8NB2YlYtJxm134DKtF90wtDwjxIOnOPApDdCmsY9Ot9QRoRXskTNseqa3y',
                center: new Microsoft.Maps.Location(-17.8287335393263, 31.048260006526803)
            });

            {% for vendor in vendors %}
                 center3 = new Microsoft.Maps.Location({{vendor.vendorprofile.latitude}}, {{vendor.vendorprofile.longitude}});

                   //Create custom Pushpin
            var pin3 = new Microsoft.Maps.Pushpin(center3, {
                color: '{{vendor.vendorprofile.color}}',
                title: '{{vendor.vendorprofile.title}}',
                subTitle: '{{vendor.vendorprofile.subTitle}}',

            });

            //Add the pushpin to the map
            map.entities.push(pin3);

            {% endfor %}
        }
    </script>
<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>

<div id="myMap" style="position:relative;width:100%;height:400px;"></div>

 {%endblock%}