 <div class="p-5">
     <div class="box">
         <figure >
             <img src="{{ product.get_thumbnail }}" class="product_img mb-2 ml-0" >
         </figure>
         <h4 class="subtitle"> {{product.title}} </h4>
         <h6 class="subtitle"> For: {{product.car}} </h6>
         <h6 class="subtitle"> Model: {{product.model}} </h6>
         <h6 class="subtitle"> Engine: {{product.engine}} </h6>
         <h6 class="price">${{product.price}}</h6>
         <div class="d-flex justify-content-end"><button  style=""><a href="{% url 'product' product.category.slug product.slug %}">VIEW</a></button></div>

     </div>
 </div>