 <div class="mt-3">
     <div class="card mt-2 "  >

         <img  src="{{ product.get_thumbnail }}" class="product_img mb-0 mb-md-2 ml-0 card-img-top">
            <div class="card-body">
                 <h6 class="card-title mb-0 mb-md-2" style="font-weight:bold; color:white;"> {{product.title}} </h6>
                <hr>
                 <p class="card-text m-0"> For: {{product.car}} </p>
                 <p class="card-text m-0"> Model: {{product.model}} </p>
                 <p class="card-text m-0"> Engine: {{product.engine}} </p>
                <hr>
                 <p class="card-text m-0" style=" font-weight:bold;">${{product.price}}</p>
                 <div class="d-flex justify-content-end"><a class="this btn btn-outline-secondary" a href="{% url 'product' product.category.slug product.slug product.id %}">VIEW</a></div>
            </div>
     </div>
<style>
    .card{
    width:200px;
    }
    .card p{
    font-size:10pt;
    }
    .card img{
    width:198px;
    height:150px;
    }
    @media only screen and (max-width:400px){
    .card{
    width:115px;
    }
    .card img{
    width:115px;
    height:80px;
    }
     .card p{
    font-size:5pt;
    }
     .card h6{
    font-size:8pt;
    }
     .card a{
    font-size:5pt;
    }
    }

</style>

 </div>